.env
*.log

__pycache__/

infrastructure/firebase/data/*
!infrastructure/firebase/data/.gitkeep

.terraform/
*.tfstate
*.tfstate.backup
infrastructure/terraform/terraform.tfvars

tmp/

node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
.idea/
.vscode/
.flutter-plugins-dependencies
.flutter-plugins